@model IEnumerable<ProyectoTiempos.Models.Numero>

@{
    ViewBag.Title = "Numeros";
}

<h2>Lista de Numeros</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numeros)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numeros)
        </td>
        <td>
           
        </td>
    </tr>
}

</table>
