@using ProyectoTiempos.Models
@model ProyectoTiempos.Models.VisualizarViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Numero
        </th>
        <th>
            Monto
        </th>
        
        
    </tr>

@foreach (var item in Model.Sorteos) {
    <tr>
        <td colspan="2" style="background-color: antiquewhite;">
            <span>Sorteo: </span>@item.Nombre
        </td>
    </tr>
    foreach (var numSorteo in Model.Numeros)
    {
        if (Model.DetalleApuestas.Where(a => a.IdNumeros == numSorteo.IdNumero && a.Apuesta.IdSorteo == item.IdSorteo).Count() > 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => numSorteo.Numeros)
                </td>
                <td>
                    @Model.DetalleApuestas.Where(a => a.IdNumeros == numSorteo.IdNumero && a.Apuesta.IdSorteo == item.IdSorteo).Sum(a=>a.Monto)
                </td>

            </tr>
        }

    }

    <tr>
        <td style="background-color: grey;">
            Total Acumulado
        </td>
        <td style="background-color: grey;">
            @Model.DetalleApuestas.Where(a => a.Apuesta.IdSorteo == item.IdSorteo).Sum(a => a.Monto)
        </td>

    </tr>
}

</table>
